#配置数据源
spring:
  datasource:
    druid:
      db-type: com.alibaba.druid.pool.DruidDataSource
      driverClassName: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      url: jdbc:log4jdbc:mysql://localhost:3306/s5?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
      #      url: jdbc:log4jdbc:mysql://49.233.218.60:3306/rate_app?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: Dongsiqi@12
      #      password: Dongsiqi#12

      #      url: jdbc:log4jdbc:mysql://111.229.220.40:3389/yn_yqdp?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      #      username: root
      #      password: admin1q2w3e
      #      url: jdbc:log4jdbc:mysql://172.16.36.217:3309/yn_yqdp_dev?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
      #      username: root
      #      password: 12345678
      # 初始化配置
      initial-size: 3
      # 最小连接数
      min-idle: 3
      # 最大连接数
      max-active: 15
      # 获取连接超时时间
      max-wait: 5000
      # 连接有效性检测时间
      time-between-eviction-runs-millis: 90000
      # 最大空闲时间
      min-evictable-idle-time-millis: 1800000
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false

      validation-query: select 1
      # 配置监控统计拦截的filters
      filters: stat
      stat-view-servlet:
        url-pattern: /druid/*
        reset-enable: false

      web-stat-filter:
        url-pattern: /*
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"

  #配置 Jpa
  jpa:
    hibernate:
      # 生产环境设置成 none，避免程序运行时自动更新数据库结构 update
      ddl-auto: update

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

ratel:
  framework:
    #是否开启 swagger-ui
    swagger-enabled: true

  # 文件存储路径
  file:
    #path: /Users/dongchuang/Downloads/rtadmin/file/
    #avatar: /Users/dongchuang/Downloads/rtadmin/avatar/
    path: /data/rate_app/file/
    avatar: /data/rate_app/avatar/
    jarHtml: classpath:/html/  # none - 代表不实用jar包 中的静态文件
    html: /home/Devops/ynyq/html/
    #  jarHtml: none  #classpath:/html/  # none - 代表不实用jar包 中的静态文件
    #  html: D:\code\yn_yq\rtadmin-server\rtadmin-run\src\main\resources\html\
    # 文件大小 /M
    maxSize: 100
    avatarMaxSize: 5

  #jwt
  jwt:
    header: Authorization
    # 令牌前缀
    token-start-with: Bearer
    # 必须使用最少88位的Base64对该令牌进行编码
    base64-secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=
    # 令牌过期时间 此处单位/毫秒 ，默认4小时，可在此网站生成 https://www.convertworld.com/zh-hans/time/milliseconds.html
    token-validity-in-seconds: 14400000
    # 在线用户key
    online-key: online-token
    # 验证码
    code-key: code-key
    # token 续期检查时间范围（默认30分钟，单位毫秒），在token即将过期的一段时间内用户操作了，则给用户的token续期
    detect: 1800000
    # 续期时间范围，默认1小时，单位毫秒
    renew: 3600000

  #是否允许生成代码，生产环境设置为false
  generator:
      enabled: true
